:root {
    --bei: #e8dfd8;
    --bluer: #0342b3;
    --bord: #900C3F;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#7a7a77;
    overflow-x: hidden;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(../4.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
}

.info {
    text-align: left;
    margin: 0 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.info h1 {
    margin: 10px 0;
    font-size: 6em;
}

.info p {
    margin-top: 10px;
    font-size: 2em;
    
}

.mas-info {
    margin-top: 30px;
}

.mas-info a {
    border: 1px solid #ffffff; 
    background-color: var(--bord); 
    font-size: 2em;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.mas-info a:hover {
    background-color: #efb810;
    color: var(--bei);
}

.quienes-somos {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.quienes-somos img {
    max-width: 100%;
    margin-left: 60px;
    height: auto;
}

.quienes-somos .img-container {
    margin-bottom: -50px;
}

.quienes-somos h1 {
    font-size: 4em;
    color: #efb810;   
}
.quienes-somos h2 { /* texto "G & C */
    font-size: 6em;
    color: #000000;
    margin-left: 1ch; /* Desplazar el texto a la derecha */
}
.quienes-somos h3 { /* el texto estudio juridico */
    font-size: 3em;
    color: #000000;
    margin-left: 2ch; /* Desplazar el texto a la derecha */
}
.quienes-somos p { 
    margin: 20px 0;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}


.quienes-somos span {    
    font-weight: bold;
    background: linear-gradient(
      90deg,
      #fbe18c,
      #ffe57f,
      #ffcc33,
      #ffe57f,
      #fbe18c
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;      
}

.leer-mas {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(39, 36, 54);
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.leer-mas:hover {
    background-color: #efb810;
    border-color: #efb810;
    color: white;
}
.center-adi{
    text-align: center;
}
#leer-masADI{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(39, 36, 54);
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#leer-masADI:hover {    
    background-color: #efb810;
    border-color: #efb810;
    color: white;
}
.info-hacemos {
    text-align: center;
    font-size: 2em;
    padding: 50px;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.7);
}

.info-hacemos span {
    color: rgb(39, 36, 54); 
}

.info-adicional {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    padding: 30px;
}

.info-section {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    width: 15%;
    position: relative;
    text-align: center;
    background-color: #f0f0f0fb;
    flex: 1 1 calc(20% - 20px);
}

.info-section img {
    width: 80px;
    height: 80px;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
}

.info-section h2 {
    margin-top: 30px;
}

.info-section table {
    width: 100%;
    margin-top: 20px;
}

.info-section td {
    padding: 10px;
    position: relative;
    padding-left: 20px;
    line-height: 1.4;
}

.info-section td::before {
    content: '•';
    color: black;
    position: absolute;
    margin-left: -15px;
}

.info-imagen {
    text-align: center;
    margin-top: 20px;
}

.info-imagen p {
    font-size: 5em;
}

.info-imagen img {
    width: 1500px;
    height: auto;
}

.info-container-bot {
    overflow: hidden;
    margin-top: 100px;
}

.info-chatbot {
    display: flex;
    align-items: center;
    padding: 20px;
}

.info-texto {
    flex: 1;
}

.info-texto p {
    margin: 10px 0;
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.7);
    text-align: justify;
}

.info-texto h1 {
    font-size: 5em;
}

.info-texto h4 {
    font-size: 2em;
    color: rgb(39, 36, 54);
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.7);
}

.info-texto img {
    width: 300px;
    margin: 0 auto;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px;
    width: 100%;
}
.adi{
    text-decoration: none;
    color: rgb(39, 36, 54);
}
#adi{
    text-decoration: none;
    color: black;
}
#close-popup {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efb810;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#close-popup:hover {
    background-color: #856c23; /* Color más oscuro al pasar el mouse */
}
@media (max-width: 1366px) {
    .info-section {
        flex: 1 1 calc(20% - 20px); 
    }
}
@media (max-width: 1280px) {
    .info-section {
        flex: 1 1 calc(20% - 20px); 
    }
}
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
    .info-adicional {
        justify-content: space-around;
        margin: 0;        
    }
    .info-section {
        flex: 1 1 calc(50% - 20px); 
    }
    #close-popup {
        padding: 8px 16px; /* Ajusta el padding para tamaños de pantalla más pequeños */
        font-size: 1em; /* Ajusta el tamaño de la fuente */
    }
    
    #close-popup:hover {
        background-color: #a63f6f;
    }
}

@media (max-width: 480px) {

    .info {
        margin-bottom: 15px;
        margin-left: -10px;
    }

    .info h1 {
        font-size: 2em;
        margin: 10px 0;

    }

    .info p {
        font-size: 1em;
    }

    .mas-info a {
        font-size: 1.2em;
        padding: 5px 10px;
    }

    .quienes-somos img {
        margin-left: 40px;
    }

    .quienes-somos h1 {
        font-size: 2em;
    }

    .quienes-somos p {
        font-size: 1em;
    }

    .quienes-somos span {
        font-size: 1em;
    }

    .info-hacemos {
        font-size: 1em;
    }

    .info-adicional {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 20px;
    }

    .info-section {
        width: 100%;
        margin-bottom: 40px;
    }

    .info-imagen p {
        font-size: 1.5em;
    }

    .info-imagen img {
        width: 375px;
        height: auto;
    }

    .info-imagen1 img {
        width: 300px;
        height: auto;
        margin-left: 30px;
    }

    .info-chatbot {
        flex-direction: column;
    }

    .info-imagen1 {
        order: 2;
        text-align: center;
        margin-top: 20px;
    }

    .info-texto {
        order: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .info-texto h1,
    .info-texto h4,
    .info-texto p {
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 375px) {

    .info {
        margin-bottom: 15px;
    }

    .info h1 {
        font-size: 2em;
        margin: 10px 0;
    }

    .info p {
        font-size: 1em;
    }

    .mas-info a {
        font-size: 1.2em;
        padding: 5px 10px;
    }

    .quienes-somos img {
        margin-left: 40px;
    }

    .quienes-somos h1 {
        font-size: 2em;
    }

    .quienes-somos p {
        font-size: 1em;
    }

    .quienes-somos span {
        font-size: 1em;
    }

    .info-hacemos {
        font-size: 1em;
    }

    .info-adicional {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 20px;
    }

    .info-section {
        width: 100%;
        margin-bottom: 40px;
    }

    .info-imagen p {
        font-size: 1.5em;
    }

    .info-imagen img {
        width: 375px;
        height: auto;
    }

    .info-imagen1 img {
        width: 300px;
        height: auto;
        margin-left: 30px;
    }

    .info-chatbot {
        flex-direction: column;
    }

    .info-imagen1 {
        order: 2;
        text-align: center;
        margin-top: 20px;
    }

    .info-texto {
        order: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .info-texto h1,
    .info-texto h4,
    .info-texto p {
        margin: 10px 0;
        text-align: center;
    }
}