:root {
  --bei: #e8dfd8;
  --beiblack: #c4b7ae;
  --bluer: #0342b3;
  --bluerf: #bb9071;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background: var(--beiblack);
}

.texto {
  color: var(--bluer);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  margin-left: 15px;
}

.left-links {
  float: left;
  margin-right: 25px;
  list-style: none;
  margin-bottom: -13px;
}

.right-link {
  float: right;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}

.navegacion {
  box-shadow: 0 0 1rem var(--bluerf);
}

.navegacion ul {
  list-style: none;
}

.menu>li {
  position: relative;
  display: inline-block;
}

.menu>li>a {
  display: block;
  padding: 20px 20px;
  color: var(--bluer);
  font-size: 23px;
  text-decoration: none;
}

.menu-opciones a i {
  margin-right: 8px;
}

.menu-opciones:hover {
  background-color: rgba(138, 138, 138, 0.44);
  transition: all .3s;
}
header, .navegacion {
  overflow: hidden; 
}
.menu-toggle {
  display: none;
}

.menu-dropdown {
  display: none;
  position: absolute;
  background-color: #e8dfd8;
  width: 100%;
  text-align: center;
  top: 60px;
}

.menu-dropdown li {
  margin-bottom: 10px;
}

.menu-dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #0342b3;
  font-size: 18px;
}
@media (max-width:768px) {
  .navegacion{
    height: 60px;
  }
  .navegacion ul {
    display: none;    
  }

  .menu-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .menu-toggle label {
    cursor: pointer;
    font-size: 30px; 
  }

  .menu-toggle input[type="checkbox"] {
    display: none;
  }

  .menu-toggle input[type="checkbox"]:checked~.menu-dropdown {
    display: block;
    background-color: var(--beiblack);
  }
}
@media (max-width:480px) {
  .navegacion{
    height: 60px;
  }
  .navegacion ul {
    display: none;    
  }

  .menu-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .menu-toggle label {
    cursor: pointer;
    font-size: 30px; 
  }

  .menu-toggle input[type="checkbox"] {
    display: none;
  }

  .menu-toggle input[type="checkbox"]:checked~.menu-dropdown {
    display: block;
    background-color: var(--beiblack);
  }
}
@media (max-width:375px) {
  .navegacion{
    height: 60px;
  }
  .navegacion ul {
    display: none;    
  }

  .menu-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .menu-toggle label {
    cursor: pointer;
  }

  .menu-toggle input[type="checkbox"] {
    display: none;
  }

  .menu-toggle input[type="checkbox"]:checked~.menu-dropdown {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .navegacion {
    height: auto;
  }

  .navegacion ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .menu>li {
    display: inline-block;
  }

  .menu>li>a {
    padding: 20px;
    font-size: 20px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: none;
  }
}

@media (min-width: 1281px) and (max-width: 1366px) {
  .navegacion {
    height: auto;
  }

  .navegacion ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .menu>li {
    display: inline-block;
  }

  .menu>li>a {
    padding: 20px;
    font-size: 22px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: none;
  }
}