:root {
  --bord: #900C3F;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
header { 
  width: 100%;
  background: var(--bord);
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
  box-shadow: 0 14px 15px rgba(0, 0, 0, 0.2);
}
.header-expanded {
  height: 55%; 
}
.contenedor,
.quienes-somos {
  margin-top: 80px; 
}
.texto {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  margin-left: 15px;
}

.left-links {
  float: left;
  margin-right: 25px;
  list-style: none;
  margin-bottom: -13px;
}

.right-link {
  float: right;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}

.navegacion {
  box-shadow: 0 0 1rem var(--bluerf);
}
.navegacion ul li a{
  color: #ffffff;
}

.navegacion ul {
  list-style: none;
}

.menu>li {
  position: relative;
  display: inline-block;
}

.menu>li>a {
  display: block;
  padding: 20px 20px;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
}
.menu-opciones a i {
  margin-right: 8px;
}

.menu-opciones:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all .3s;
}
header, .navegacion {
  overflow: hidden; 
}

.menu-toggle {
  display: none;
}
.menu-toggle label {
  font-size: 30px; 
  color: #ffffff; 
  cursor: pointer; 
  display: inline-block;
  transition: color 0.3s ease; 
}
.menu-toggle label:hover {
  color: #f0f0f0; 
}

.menu-dropdown {
  display: none;
  position: absolute;
  background-color: #e8dfd8;
  width: 100%;
  text-align: center;
  top: 60px;
  
}

.menu-dropdown li {
  padding: 5px; 
  text-align: left; 
}
.menu-dropdown li a {
  display: block;
  padding: 10px 0; 
  text-decoration: none;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
@media (max-width:768px) {
  .navegacion{
    height: 60px;
  }
  .contenedor,
  .quienes-somos {
  margin-top: 50px; 
  }
  .navegacion ul {
    display: none;    
  }

  .menu-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .menu-toggle label {
    cursor: pointer;
    font-size: 30px; 
  }

  .menu-toggle input[type="checkbox"] {
    display: none;
  }

  .menu-toggle input[type="checkbox"]:checked~.menu-dropdown {
    display: block;
    background-color: var(--beiblack);
  }
}
@media (max-width:480px) {
  .navegacion{
    height: 60px;
  }
  .navegacion ul {
    display: none;    
  }

  .menu-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .menu-toggle label {
    cursor: pointer;
    font-size: 30px; 
  }

  .menu-toggle input[type="checkbox"] {
    display: none;
  }

  .menu-toggle input[type="checkbox"]:checked~.menu-dropdown {
    display: block;
    background-color: var(--beiblack);
  }
}
@media (max-width:375px) {
  .navegacion{
    height: 60px;
  }
  .navegacion ul {
    display: none;    
  }

  .menu-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .menu-toggle label {
    cursor: pointer;
  }

  .menu-toggle input[type="checkbox"] {
    display: none;
  }

  .menu-toggle input[type="checkbox"]:checked~.menu-dropdown {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .navegacion {
    height: auto;
  }

  .navegacion ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .menu>li {
    display: inline-block;
  }

  .menu>li>a {
    padding: 20px;
    font-size: 20px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: none;
  }
}

@media (min-width: 1281px) and (max-width: 1366px) {
  .navegacion {
    height: auto;
  }

  .navegacion ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .menu>li {
    display: inline-block;
  }

  .menu>li>a {
    padding: 20px;
    font-size: 22px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: none;
  }
}