.quienes-somos {
    padding: 40px 20px;
}
/*.quienes-somos .about {
    max-width: 800px;
    margin: 0 auto;
}*/
.text-quienes {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;    
    font-weight: bold;
}
.quienes-somos p {
    font-size: 18px;
    line-height: 1.8;
    color: white;
    margin-bottom: 20px;
    text-align: justify;
}
.quienes-somos p:first-of-type {
    font-weight: bold;
}
.quienes-somos p:last-of-type {
    margin-bottom: 0;
}
.quienes-somos .color{
    color: rgb(39, 36, 54);
    font-weight: bold;
}
#txt-ADI{
    font-size: 63px;
}
@media (max-width:768px) {
    #txt-ADI{
        font-size: 63px;
    }
  }
  @media (max-width:480px) {
    #txt-ADI{
        font-size: 50px;
    }
  }
  @media (max-width:375px) {
    #txt-ADI{
        font-size: 63px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1280px) {
    #txt-ADI{
        font-size: 63px;
    }
  }
  
  @media (min-width: 1281px) and (max-width: 1366px) {
    #txt-ADI{
        font-size: 63px;
    }
  }